argcomplete==1.10.0
astroid==2.3.3
autopep8==1.5
bandit==1.6.2
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
dnspython==1.16.0
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
gitdb2==2.0.6
GitPython==3.0.5
idna==2.8
IMAPClient==2.1.0
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.4.2
mccabe==0.6.1
olefile==0.46
pbr==5.4.4
pdfminer==20191125
pdfminer.six==20200104
pdfplumber==0.5.16
pep8==1.7.1
Pillow==7.0.0
praw==6.5.1
prawcore==1.0.1
pycryptodome==3.9.7
pylint==2.4.4
pymongo==3.10.1
PyPDF2==1.26.0
python-pptx==0.6.18
pytz==2019.3
PyYAML==5.3
requests==2.22.0
six==1.14.0
smmap2==2.0.5
sortedcontainers==2.1.0
soupsieve==1.9.5
SpeechRecognition==3.8.1
stevedore==1.31.0
textract==1.6.3
tika==1.24
typed-ast==1.4.1
tzlocal==1.5.1
unicodecsv==0.14.1
update-checker==0.16
urllib3==1.25.7
virtualenv==16.7.9
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
Wand==0.5.9
websocket-client==0.57.0
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.2.8
